<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <title>Создание</title>
</head>
<body class="min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container-sm" style="max-width: 600px">
        <h2 class="my-4">Создание товара</h2>
        <form action="/product/create" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">
          <div class="mb-3">
            <label for="product_name" class="form-label">Название товара</label>
            <input type="text" id="product_name" name="product_name" placeholder="Название товара" class="form-control" required>

              <label for="product_description" class="form-label mt-3">Описание товара</label>
              <textarea rows="3" id="product_description" name="product_description" placeholder="Название прозводителя" class="form-control" required></textarea>

              <label for="product_price" class="form-label">Начальная цена</label>
            <input type="text" id="product_price" name="product_price" placeholder="Начальная цена" class="form-control" required>

              <label for="manufacturer_id" class="form-label mt-3">Производитель</label>
              <select class="form-select" id="manufacturer_id" name="manufacturer_id" aria-label="Производитель">
                  {% for manufacturer in manufacturers %}
                  <option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
                  {% endfor %}
              </select>

              <label for="category_id" class="form-label mt-3">Категория</label>
              <select class="form-select" id="category_id" name="category_id" aria-label="Категория">
                  {% for category in categories %}
                  <option value="{{category.id}}">{{category.name}}</option>
                  {% endfor %}
              </select>

                <label for="product_image" class="form-label mt-3">Изображение</label>
              <input type="file" id="product_image" name="product_image" placeholder="Файл с изображением" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-success">Создать</button>
        </form>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!--<script>-->
<!--    async function login_user(){-->
<!--        event.preventDefault()-->
<!--        let name = document.getElementById("man_name").value-->
<!--        let image_filename = document.getElementById("man_img_filename").value-->

<!--        const response = await fetch('/manufacturer/create', {-->
<!--                method: 'POST',-->
<!--                headers: {-->
<!--                    'Content-Type': 'application/json'-->
<!--                },-->
<!--                body: JSON.stringify({-->
<!--                    manufacturer_name: name,-->
<!--                })-->
<!--            })-->
<!--        const json = await response.json();-->
<!--        console.log(JSON.stringify(json));-->
<!--        if (json.ok){-->
<!--            window.location.href = '/';-->
<!--        } else {-->
<!--            alert("Не удалось создать производителя. Возможно, такое название уже существует.")-->
<!--        }-->
<!--    }-->
<!--</script>-->
</body>
</html>