{% include 'header.html' %}
    <div class="container-sm p-5 border rounded shadow-sm bg-white my-auto" style="max-width: 600px">
        <h2 class="my-4 text-center">Регистрация</h2>
        <form action="/" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">
          <div class="mb-3">
            <label for="username" class="form-label">Уникальное имя</label>
            <input id="username" name="username" placeholder="Никнейм" class="form-control rounded" required>
          </div>
          <div class="mb-3">
            <label for="telephone" class="form-label">Номер телефона</label>
            <input class="form-control rounded" name="telephone" type="tel" placeholder="+7" id="telephone" required>
          </div>
            <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" name="password" class="form-control rounded" placeholder="Пароль"  id="password" required>

                <p class="text-center">Есть аккаунт? <a href="/user/login" class="link text-decoration-underline">Войти</a></p>

            </div>
          <div class="d-flex">
              <button type="submit" class="active text-center py-2 mx-auto" onclick="register_client()">Зарегистрироваться</button>
          </div>
        </form>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    async function register_client(){
        event.preventDefault();
        let username = document.getElementById("username").value
        let phone_number = document.getElementById("telephone").value
        let password = document.getElementById("password").value
        if (username==null || username==="" || phone_number==null || phone_number==="" || password==null || password===""){
            alert("Заполните все поля!");
            return false;
        }
        const response = await fetch('/user/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: username,
                    phone_number: phone_number,
                    password: password
                })
            })
        const json = await response.json();
        console.log(JSON.stringify(json));
        if (json.ok){
            window.location.href = '/';
        } else {
            alert("Произошла ошибка при создании пользователя. Возможно пользователь с таким именем уже существует.")
        }
    }
</script>
</body>
</html>